<form [formGroup]='form'>
    <div>
    <mat-form-field>
        <input matInput placeholder="placa" formControlName='placa'>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="renavan" formControlName='renavan'>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="tipoRodado" formControlName='tipoRodado'>
    </mat-form-field>
    
    <button mat-raised-button color ="primary" [disabled] = '!this.form.valid' (click)="envio()">
        {{btnText}}
    </button>

    <button mat-raised-button color ="warn" (click)="onCancel()">
        Cancelar
    </button>

    <div>