<table mat-table [dataSource]="veiculos" class="mat-elevation-z8">
    ...
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let user"> {{user.placa}} </td>
      </ng-container>


      <ng-container matColumnDef="renavan">
        <th mat-header-cell *matHeaderCellDef> Renavan </th>
        <td mat-cell *matCellDef="let user"> {{user.renavan}} </td>
      </ng-container>


      <ng-container matColumnDef="tipoRodado">
        <th mat-header-cell *matHeaderCellDef> TipoRodado </th>
        <td mat-cell *matCellDef="let user"> {{user.tipoRodado}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>ações</th>
        <td mat-cell *matCellDef="let element"> 

          <button mat-icon-button color="primary" routerLink="/veiculo/editar/{{element.id}}">
            <i class="material-icons">edit</i>
          </button>
        
        <button mat-icon-button color="primary" (click)="deletar(element.id)">
            <i class="material-icons red">delete</i>
        </button>

        </td>
      </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  </table>