form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 5px,10px,5px;
    }
    button{
    margin: 15px;
    
    
    }
    mat-form-field{
    width: 400px;
    margin-right: 30px;
    padding: 10px;
    box-shadow: 20px;
    }